<p>student-modal works!</p>
<h1 mat-dialog-title>Bienvenidos!!</h1>
<div mat-dialog-content>
  <p>¿Querés agregar un estudiante?</p>
  <form [formGroup]="studentForm">
    <div class="mb-2">

    
    <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input [formControl]="firstNameControl" matInput placeholder="Nombre" >
        <mat-icon matSuffix>perm_identity</mat-icon>
        <mat-hint>*Campo obligatorio</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Apellido</mat-label>
      <input [formControl]="lastNameControl" matInput placeholder="Apellido" >
      <mat-icon matSuffix>perm_identity</mat-icon>
      <mat-hint>*Campo obligatorio</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Notas</mat-label>
      <input [formControl]="notesControl" matInput placeholder="Nota" >
      <mat-icon matSuffix>spellcheck</mat-icon>
      <mat-hint>*Campo obligatorio</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Ausencias</mat-label>
      <input [formControl]="absenceControl" matInput placeholder="Ausencias" >
      <mat-icon matSuffix>checklist</mat-icon>
      <mat-hint>*Campo obligatorio</mat-hint>
    </mat-form-field>


    </div>
    
    <div mat-dialog-actions>
      <button mat-button (click)="close()">Volver</button>
      <button mat-button [mat-dialog-close]="studentForm.value" cdkFocusInitial>Aceptar</button>
    </div>


    
  </form>

</div>

