
main{
    background-image: url(https://cutewallpaper.org/cdn-cgi/mirage/dd19f2d06ebc24f541f142b37b4289ffa7de722a7607e39984c5c6dd4ce8defd/1280/21/harry-potter-iphone-6-wallpaper/Harry-Potter-Glasses-Scar-Broom-Stick-Wallpaper-Fondos-De-.png);
    width: 100%;
    height: 500px;
    background-repeat: repeat;
    
}

.btn{
    width: 100%;
    text-align: center;
    margin-left: 50px;
}

.nuevoCurso {
    width: 300px;
    margin: 10px;
}

.tittleContainer{
    text-align: center;
    width: 100%;
    padding: 25px;
    
}
.tittle{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    text-align: center;
    font-size: 25px;
    color: black;
    text-shadow: rgb(0, 0, 0) 2px 2px 2px;

}

.coursesTable{
    width: 700px;
    margin-left: 250px;

}