<main>
  <div class="tittleContainer">
    <p class="tittle">LISTADO DE CURSOS</p>
  </div>
  <div class="coursesTable">
    <table mat-table [dataSource]="courses">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>
      <ng-container matColumnDef="profesor">
        <th mat-header-cell *matHeaderCellDef>Profesor</th>
        <td mat-cell *matCellDef="let element">{{ element.profesor }}</td>
      </ng-container>
      <ng-container matColumnDef="materia">
        <th mat-header-cell *matHeaderCellDef>Materia</th>
        <td mat-cell *matCellDef="let element">{{ element.materia }}</td>
      </ng-container>
      <ng-container matColumnDef="timos">
        <th mat-header-cell *matHeaderCellDef>TIMOS</th>
        <td mat-cell *matCellDef="let element">{{ element.timos }}</td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>editar</th>
        <td mat-cell *matCellDef="let element">
          <button
            (click)="editCourse(element)"
            mat-icon-button
            color="primary"
          >
            <mat-icon>edit_note</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Quitar</th>
        <td mat-cell *matCellDef="let element">
          <button
            (click)="removeCourse(element)"
            mat-icon-button
            color="primary"
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div class="btn">
    <button
      class="nuevoCurso"
      (click)="addCourse()"
      mat-flat-button
      color="primary"
    >
      Nuevo curso
    </button>
  </div>
</main>
