*{
    margin: 0;
    padding: 0;
}

main{
    background-image: url(https://i.pinimg.com/736x/29/8c/d4/298cd4ffd68b87514b6cd7e390ac5279.jpg);
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
}
.text-center{
    color: white;
    
}

form{
    width: 70%;
    margin-left: 250px;
}