<main>
  <div class="tittleContainer">
    <p class="tittle">LISTADO DE ALUMNOS 2022</p>
  </div>

  <div class="studentTable">
    <table mat-table [dataSource]="students">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Apellido</th>
        <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
      </ng-container>
      <ng-container matColumnDef="isActive">
        <th mat-header-cell *matHeaderCellDef>Estudia</th>
        <td mat-cell *matCellDef="let element">{{ element.isActive }}</td>
      </ng-container>
      <ng-container matColumnDef="absence">
        <th mat-header-cell *matHeaderCellDef>Ausencias</th>
        <td mat-cell *matCellDef="let element">{{ element.absence }}</td>
      </ng-container>
      <ng-container matColumnDef="notes">
        <th mat-header-cell *matHeaderCellDef>Notas</th>
        <td mat-cell *matCellDef="let element">{{ element.notes }}</td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>editar</th>
        <td mat-cell *matCellDef="let element">
          <button
            (click)="editStudent(element)"
            mat-icon-button
            color="primary"
          >
            <mat-icon>edit_note</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Quitar</th>
        <td mat-cell *matCellDef="let element">
          <button
            (click)="removeStudent(element)"
            mat-icon-button
            color="primary"
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <div class="btn">
    <button
      class="nuevoEstudiante"
      (click)="addStudent()"
      mat-flat-button
      color="primary"
    >
      Nuevo estudiante
    </button>
  </div>
</main>
