@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.sidebar {
  position: fixed;
  width: 18%;
  height: 100vh;
  background: darkgray;
  font-size: 0.65em;
}

.nav {
  position: absolute;
  margin: 5%;
  text-align: right;
  top: 20%;
  transform: translateY(-50%);
  font-weight: bold;
}

.nav ul {
  list-style: none;
  
  li {
    position: relative;
   
    
    a {
      line-height: 5em;
      text-transform: uppercase;
      letter-spacing: 0.3em;
      color: rgba(#FFF, 0.35);
      display: block;
      transition: all ease-out 300ms;
    }
    
    &.active a {
      color: black;
    }
    
    &:not(.active)::after {
      opacity: 0.2;
    }
    
    &:not(.active):hover a {
      color: rgba(rgb(48, 48, 48), 0.75);
    }
    
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 0.2em;
      background: black;
      left: 0;
      bottom: 0;
      background-image: linear-gradient(to right, #3c3c3d, #eb2e0d)
    }
  }
}
