*{  margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height: 70px;
    background-image: url(https://cdn.shopify.com/s/files/1/0104/2192/8036/products/Footprints-2_600x.jpg?v=1660016199);
    text-align: center;
    padding: 15px;
}

.tittle{
    font-size: 15px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px #CE5937;

}
.containerHeader{
    align-items: center;
}

.logo{
    float: left;
    padding-top: 10px;
    
}


.texto-borde {
    
    -webkit-text-stroke: 2px black;
    color: white;
    font-size: 40px;
    padding: 25px;
  }